packages

# User files
*.suo
*.user
*.sln.docstates
.vs/

# ignore a file type
*.config

# ignore a file type
*.txt

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
*.ncrunchsolution
*.ncrunchproject
_NCrunch_WebCompiler
*.txt
*.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-F.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-E.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-D.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-C.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-B.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1700-A.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-H.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-G.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-F.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-E.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-D.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-C.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-B.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1645-A.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1631-A.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-H.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-G.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-F.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-E.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-D.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-C.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-B.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1630-A.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170826-1615-A.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170825-1445-D.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170825-1445-C.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170825-1445-B.txt
/3dCartImportConsole/ProcessedOrders/ACG_ORDERS_20170825-1445-A.txt
